#clockHours{
  fill: white;
  x: 50%+20;
  y: 50%+60;
  opacity: 0.75;
}
#clockMinutes{
  fill: white;
  x: 50%+15;
  y: 50%+60;
  opacity: 0.5;
}

#date{
  fill: white;
  x: 50%;
  y: 320;
  opacity: 0.45;
}
